

<%= render partial: 'partials/company_information', locals: {company: @company} %>

<% if current_user == @company.user %>
    <div><%= link_to "Edit", edit_company_path(@company) %></div>
<% end %>

<% if current_user == @company.user %>
    <div><%= button_to "Delete", @company, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %></div>
<% end %>


<div class="container index-container">
    <h2>Show company</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm text-cnt">
        <%= render partial: 'partials/post', locals: {post: @post} %>
        <% if current_user == @post.user %>
            <div><%= link_to "Edit", edit_post_path(@post) %></div>
        <% end %>

        <% if current_user == @post.user %>
            <div><%= button_to "Delete", @post, confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %></div>
        <% end %>
    </div>    
  </div>
</div>