<%= form_with model: @post do |f| %>
    <% if @post.pic.attached? %>
        <% @post.pic.filename %>
    <% else %>
        <div>Image <%= f.file_field :pic %></div>
    <% end %>
    <div>Title <%= f.text_field :title, required: true %></div>
    <div>Caption <%= f.text_area :caption, required: true %></div>
    <div>Budget <%= f.text_field :budget %></div>
    <%= f.submit %>
<% end %>