<%= form_with model: @company do |f| %>
    <%= label_tag(:companyName, "Company name") %>
    <div><%= f.text_field :name, required: true %></div>
    <%= label_tag(:companyFounder, "Company founder") %>
    <div><%= f.text_field :founder, required: true %></div>
    <%= label_tag(:companyDescription, "Company description") %>
    <div><%= f.text_area :description, required: true %></div>
    <%= label_tag(:companyTag, "Company tag") %>
    <div><%= f.text_field :tag, required: true %></div>
    <%= label_tag(:companyUserID, "User ID") %>
    <div><%= f.text_field :user_id %></div>
    <%= label_tag(:companyImage, "Company logo") %>
    <% if @company.pic.attached? %>
        <div><%= @company.pic.filename %></div>
    <% else %>
        <div>Image <%= f.file_field :pic, required: true %></div>
    <% end %> 
    <%= f.submit class: "btn btn-primary" %>
<% end %>