<%= form_with model: @post do |f| %>
    <%= label_tag(:postTitle, "Title") %>
    <%= f.text_field :title, required: true %>
    <%= label_tag(:postCaption, "Caption") %>
    <%= f.text_area :caption, required: true %>
    <%= label_tag(:postBudget, "Budget") %>
    <%= f.text_field :budget, required: true %>
    <% if @post.pic.attached? %>
        <%= @post.pic.filename %>
    <% else %>
        <div>Image <%= f.file_field :pic, required: true %></div>
    <% end %> 
    <%= f.submit %>
<% end %>