<%= form_with model: @post do |f| %>
    <%= label_tag(:postTitle, "Title") %>
    <div><%= f.text_field :title, required: true %></div>
    <%= label_tag(:postCaption, "Caption") %>
    <div><%= f.text_area :caption, required: true %></div>
    <%= label_tag(:postBudget, "Budget") %>
    <div><%= f.text_field :budget, required: true %></div>
    <% if @post.pic.attached? %>
        <div><%= @post.pic.filename %></div>
    <% else %>
        <%= label_tag(:postImage, "Image") %>
        <div><%= f.file_field :pic, required: true %></div>
    <% end %> 
    <%= f.submit class: "btn btn-primary" %>
<% end %>