<%= form_with model: @post do |f| %>
    <div>Title <%= f.text_field :title, required: true %></div>
    <div>Caption <%= f.text_area :caption, required: true %></div>
    <div>Budget <%= f.text_field :budget, required: true %></div>
    <% if post.pic.attached?%>
    <div>Image <%= f.file_field :pic, required: true %></div>
    <% end %> 
    <%= f.submit %>
<% end %>