<% if post.pic.attached? %>
<div><%= link_to(image_tag(post.pic, class: "my-pic"), post) %></div>
<% end %>

<h4>Title <%= post.title %></h4>
<p>Caption <%= post.caption %></p>
<p>Budget <%= post.budget %></p>
<p><%= link_to post.user.email, post.user %></p>